node_modules/
dist/
.env*
!.env.example
.DS_Store
.next/
out/
*.tsbuildinfo
next-env.d.ts
br_geobr_mapas_bioma.csv
br_geobr_mapas_terra_indigena.csv
br_geobr_mapas_pegada_urbana.csv
br_geobr_mapas_unidade_conservacao.csv
br_geobr_mapas_concentracao_urbana.csv
br_geobr_mapas_arranjo_populacional.csv
br_geobr_mapas_regiao_imediata.csv
br_geobr_mapas_area_risco_desastre.csv
.superdesign/tmp/
